body {
	background: url(assets/images/light-grey-terrazzo.png);
	/* Background pattern from Toptal Subtle Patterns */
}

h1 {
	padding: 0;
	margin: 0;
}

div {
	background: rgba(0,168,144,.5);
	width: 300px;
	text-align: center;
	padding: 1rem 2rem 2rem;
	margin: auto;
	font-family: 'Nunito', sans-serif;
	overflow: auto;
}

button {
	padding: 5px;
	border-radius: 5px;
	background: rgb(40, 147, 235);
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

ul{
	list-style-type: none;
	text-align: left;
}
li {
	margin-left: 2rem;
}