body {
	background: url(assets/images/light-grey-terrazzo.png);
	/* Background pattern from Toptal Subtle Patterns */
}

div{
	background: rgba(0,168,144,.5);
	width: 300px;
	text-align: center;
	padding: 2rem;
	margin: auto;
	font-family: 'Nunito', sans-serif;
}

button {
	padding: 5px;
	border-radius: 5px;
	background: coral;
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}